header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: linear-gradient(90deg, #1b4963, #292e49);
}
.logo {
    height: 80px;
}
