/* section {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: 800px;
    height: 500px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #000;
    color: #fff;

    position: relative;
    z-index: 10;
    border-radius: 10px;
}
button {
    padding: 10px 24px;
    background: #141414;
    color: #fff;
    border: none;
}
.search {
    width: 80%;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin: 20px 50px;
}
.search input {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    background: rgba(000, 000, 000, 0);
}
.search label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #d41e31;
}
.search label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 100%;
    width: 100%;
    font-weight: bold;
    border-bottom: 5px solid #d41e31;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.contentName {
    position: absolute;
    bottom: 5px;
    left: 0;
    color: white;
    font-size: 16px;
    transition: all 0.3s ease;
}
.search input:focus + .labelName .contentName,
.search input:valid + .labelName .contentName {
    transform: translateY(-100%);
    font-size: 16px;
    font-weight: bold;
    color: #d41e31;
}
.search input:focus .labelName::after,
.search input:valid + .labelName::after {
    transform: translateX(0%);
} */
